// Colors

$kane-gray: #8395a7;
$kane-purple: #6c5dd3;
$text-blue: #3345d7;
$text-light-blue:#2E86DE;
$text-red:#EE5253;
$text-gray-dark:#222F3E;
$bg-content: #F4F5F7;
$bg-color-blue: #354bd4;
$bg-color-gray:#F6F7F9;
$border-gray:#C8D6E5;